body {
    margin: 0;
    font-family: Montserrat, sans-serif;
}

header {
    background-color: salmon;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 5px 10px;
}

.hamburger {
    width: 40px;
}

.hamburger:hover {
    cursor: pointer;
}

h1 {
    margin: 0;
    font-family: Lobster, sans-serif;
    color: white;
    padding-bottom: 5px;
    padding-left: 20px;
}

h3 {
    padding-top: 35px;
}

.ggtitle {
    color: white;
    font-family: Montserrat, sans-serif;
}

.ggh-1 {
    font-family: Montserrat, sans-serif;
    font-size: 80px;
    padding-bottom: 30px;
}

.peanut {
    border-radius: 100px;
    width: 400px;
    padding-top: 40px;
}

.tumeric {
    width: 400px;
    border-radius: 100px;
    padding-top: 40px;
}

.wine{
    width: 430px;
    border-radius: 100px;
    padding-top: 40px;
}
.ggbuy{
    color: white;
    text-decoration: none;
    border: 1px white solid;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.ggbuy:hover {
    background-color: white;
    color: salmon;
}

.login {
    color: white;
    text-decoration: none;
    border: 1px white solid;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.login:hover {
    background-color: white;
    color: salmon;
}

main {
    background-image: url(../images/fruit-veg.jpg);
    background-size: cover;
    height: 100vh;
    background-blend-mode: multiply;
    background-color: grey;
    text-align: center;
    color: white;
    padding: 200px 10px;
}

.et-main {
    background-image: url(../images/fridge.jpg);
    background-size: cover;
    height: 100vh;
    background-blend-mode: multiply;
    background-color: grey;
}

.gg-main {
    background-image: url(../images/glassball.jpg);
    background-size: cover;
    height: 200vh;
    background-blend-mode: multiply;
    background-color: grey;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes-main {
    background-image: url(../images/recipes.jpg);
    background-size: cover;
    height: 100vh;
    background-blend-mode: multiply;
    background-color: grey;
}

.cc-main {
    background-image: url(../images/cc.jpg);
    background-size: cover;
    height: 100vh;
    background-blend-mode: multiply;
    background-color: grey;
}

h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
}

.signup{
    color: white;
    text-decoration: none;
    border: 1px white solid;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.signup:hover {
    background-color: white;
    color: salmon;
}

main p {
    margin-bottom: 30px;
}

.hamburger-menu {
    background-color: salmon;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    transform: translateX(-100%);
    transition: all 0.35s ease-in-out;
}

.open-menu {
    transform: translateX(0%);
}

.hamburger-menu a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 45px;
    text-align: center;
    margin: 20px;
}

.cancel {
    width: 30px;
}

.cancel:hover {
    cursor: pointer;
}